.footer {
  color: white;
  padding: 20px;
  width: 80%; /* Igual à header */
  margin: auto; /* Centraliza a footer */
  margin-top: 2rem; /* Espaçamento entre a footer e o conteúdo acima */
  padding-bottom: 1rem; /* Pequena distância do final da página */
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.topSection {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  font-family: "Caveat", cursive;
  margin: 0;
  display: flex;
  align-items: center;
}

.description {
  font-size: 17px;
  font-family: "Inter", sans-serif;
  text-align: justify;
  padding-right: 100px;
}

.separator {
  border-top: 1px solid white;
  margin: 20px 0;
}

.bottomSection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.links {
  flex: 1;
  max-width: 200px;
}

.connect h3,
.links h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.connect ul,
.links ul {
  list-style: none;
  padding: 0;
}

.connect ul li a,
.links ul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.connect ul li a:hover,
.links ul li a:hover {
  color: #dbbd9c; /* Cor de destaque ao passar o mouse */
}

.newsletter p {
  font-size: 14px;
  margin-bottom: 10px;
  font-family: "Inter", sans-serif;
}

.newsletter input {
  padding: 8px;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: border-color 0.3s ease, color 0.3s ease;
}

.newsletter input:focus {
  outline: none;
  border-color: #ffffff;
}

.button {
  color: #ffffff;
  height: 30px;
  width: 10rem;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.links {
  font-family: "Inter", sans-serif;
}

.connect {
  font-family: "Inter", sans-serif;
}

.newsletter {
  font-family: "Inter", sans-serif;
  margin-right: -100px;
}

.inputGroup {
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 50px;
}

.paragrafo {
  padding-right: 30%;
  text-align: justify;
  margin-top: 5px;
}

.inputGroup input::placeholder {
  color: #818181;
}

.links ul {
  text-decoration: underline;
  line-height: 2;
}

.connect ul {
  line-height: 2;
}

/* Responsividade */
@media (max-width: 768px) {
  .topSection {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .bottomSection {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .description {
    padding-right: 0;
  }

  .newsletter {
    margin-right: 0;
    text-align: center;
  }

  .inputGroup {
    flex-direction: column; /* Altera para coluna em telas menores */
    gap: 10px;
  }

  .inputGroup input,
  .button {
    width: 100%; /* Ocupa toda a largura disponível */
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 20px;
    width: calc(100% - 20px); /* Ajusta o espaçamento para telas menores */
  }

  .logo {
    font-size: 20px;
  }

  .description {
    font-size: 14px;
  }

  .connect ul li a,
  .links ul li a {
    font-size: 12px;
  }
}