.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  width: 80%; /* Define a largura da header */
  margin: 0 auto; /* Centraliza horizontalmente */
  position: fixed; /* Torna a header fixa na tela */
  top: 1rem; /* Adiciona espaçamento do topo */
  left: 50%; /* Centraliza horizontalmente */
  transform: translateX(-50%); /* Ajusta a posição para centralizar */
  z-index: 10; /* Garante que a header fique acima de outros elementos */
  background-color: inherit; /* Mantém a cor de fundo dinâmica */
}

.logoTitulo {
  font-size: 1.5rem;
}

.titulo {
  font-family: "Pacifico", cursive;
  color: #fff;
}

.hamburger {
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  z-index: 20;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -100%; /* Esconde o menu inicialmente */
  width: 300px; /* Tamanho fixo do popup */
  height: 100vh;
  background-color: #333; /* Cor padrão, será sobrescrita pelo estilo inline */
  overflow-y: auto; /* Adiciona scroll para ver mais links */
  transition: all 0.3s ease; /* Transição suave */
  z-index: 15;
  padding: 2rem 1rem;
}

.sidebar.active {
  left: 0; /* Mostra o menu quando ativo */
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: justify; /* Justifica os links */
}

.navText {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease; 
  padding: 0.5rem 1rem; 
}

.navText:hover {
  transform: scale(1.05);
  background-color: #afaeae; /* Cor de fundo ao passar o mouse */
  border-radius: 8px; /* Bordas arredondadas */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  text-decoration: none; /* Remove o sublinhado ao passar o mouse */
  color: #fff; /* Mantém a cor do texto ao passar o mouse */
  font-weight: bold; /* Deixa o texto mais destacado ao passar o mouse */
  font-size: 1.2rem; /* Mantém o tamanho do texto ao passar o mouse */
  padding: 0.5rem 1rem; /* Mantém o espaçamento ao passar o mouse */
  border: 1px solid #fff; /* Adiciona uma borda ao passar o mouse */
  border-radius: 8px; /* Bordas arredondadas ao passar o mouse */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra ao passar o mouse */
}

.icon {
  font-size: 1.5rem;
  color: #fff; /* Ícones brancos */
}