.header {
  padding: 20px;
  display: flex;
  align-items: center;
  width: 80%; /* Mantém a largura */
  margin: auto; /* Centraliza horizontalmente */
  top: 20px; /* Espaçamento do topo */
  left: 0;
  gap: 6rem;
  right: 0;
  z-index: 1000; /* Garante que a header fique acima do conteúdo */
  background-color: #00dac7; /* Cor de fundo */
  position: fixed; /* Fixa a header na tela */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra para destaque */
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: #ffffff;
}

.logoTitulo {
  width: 10%;
}

.titulo {
  font-size: 2rem;
  font-family: "Caveat", cursive;
  font-weight: 700;
  color: #ffffff;
}

.nav {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navText {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
  backdrop-filter: blur(5px);
}

.navText:hover {
  font-weight: 600;
  transition: color 0.3s ease;
  text-decoration: none;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  transition: all 0.3s ease;
  transform: scale(1.05);
}

/* Responsividade */
@media (max-width: 768px) {
  .nav {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #00dac7;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 999;
    padding: 1rem 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .nav.active {
    display: flex;
  }

  .hamburger {
    display: block;
    font-size: 2rem;
    color: #ffffff;
    cursor: pointer;
  }
}

@media (max-width: 480px) {
  .titulo {
    font-size: 1.5rem;
  }

  .navText {
    font-size: 0.9rem;
  }

  .hamburger {
    font-size: 1.8rem;
  }
}