.faq {
  background: linear-gradient(180deg, #ffffff, #f0f0f0, #ffffff);
  padding: 4rem 2rem;
  border-radius: 25px;
  text-align: center;
  width: 80%;
  margin: 10rem auto;
}

.title {
  font-family: "Caveat", cursive;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333; /* Cor mais suave */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin-bottom: 4rem;
}

.items {
  text-align: left;
}

.item {
  background: #ffffff;
  border-radius: 12px;
  margin-bottom: 1rem;
  padding: 1rem;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.itemActive {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  animation: gradientBackground 5s ease infinite; /* Adiciona a animação */
  background: linear-gradient(-45deg, #dbbd9c, #f05080, #00dac7, #49f6ff);
  background-size: 400% 400%;
  color: #fff;
}

.question {
  font-family: "Inter", sans-serif; /* Fonte Inter */
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.answer {
  font-family: "Inter", sans-serif; /* Fonte Inter */
  font-size: 1rem;
  color: #ffffff;
  margin-top: 0.5rem;
  line-height: 1.6;
}

.icon {
  font-size: 1.2rem;
  color: #555;
  transition: transform 0.3s ease;
}

.iconOpen {
  transform: rotate(180deg);
}

.team {
  margin-top: 3rem;
}

.subtitle {
  font-family: Caveat, cursive;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 3px #0000001a;
}

.teamList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  align-items: stretch; /* Garante que todos os cards tenham a mesma altura */
}

.teamMember {
  text-align: center;
  max-width: 150px;
  flex: 1 1 150px; /* Permite que os cards cresçam igualmente */
  display: flex;
  flex-direction: column; /* Garante que o conteúdo interno seja empilhado */
  justify-content: space-between; /* Distribui o conteúdo interno */
  align-items: center;
  padding: 1rem;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.profilePic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.memberName {
  font-family: "Inter", sans-serif; /* Fonte Inter */
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
}

.memberRole {
  font-family: "Inter", sans-serif; /* Fonte Inter */
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 0.5rem;
}

.githubLink {
  font-family: "Inter", sans-serif; /* Fonte Inter */
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  background: linear-gradient(-45deg, #00dac7, #f05080, #dbbd9c, #49f6ff);
  background-size: 400% 400%;
  animation: gradientBackground 5s ease infinite; /* Adiciona a animação */
  -webkit-background-clip: text; /* Faz o gradiente aplicar apenas ao texto */
  -webkit-text-fill-color: transparent; /* Torna o fundo do texto transparente */
  transition: transform 0.3s ease;
}

.githubLink:hover {
  transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
}

.extra {
  margin-top: 2rem;
  text-align: center;
  font-family: "Inter", sans-serif;
}

.askButton {
  background: linear-gradient(-45deg, #00dac7, #f05080, #dbbd9c, #49f6ff);
  background-size: 400% 400%;
  animation: gradientBackground 5s ease infinite; /* Adiciona a animação */
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 12px;
  font-size: 1rem;
  margin: 1rem 0;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.askButton:hover {
  transform: scale(1.05);
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Responsividade */
@media (max-width: 768px) {
  .faq {
    width: 90%;
    padding: 3rem 1rem;
  }

  .title {
    font-size: 2rem;
  }

  .items {
    gap: 0.5rem;
  }

  .item {
    padding: 0.8rem;
  }

  .question {
    font-size: 1rem;
  }

  .answer {
    font-size: 0.9rem;
  }

  .askButton {
    font-size: 0.9rem;
    padding: 0.6rem 1rem;
  }

  .teamList {
    flex-direction: column; /* Alinha os cards em coluna */
    gap: 1rem; /* Espaçamento entre os cards */
  }

  .teamMember {
    max-width: 100%; /* Faz os cards ocuparem toda a largura disponível */
  }
}

@media (max-width: 480px) {
  .faq {
    width: 100%;
    padding: 2rem 1rem;
  }

  .title {
    font-size: 1.8rem;
  }

  .askButton {
    font-size: 0.8rem;
    padding: 0.5rem 0.8rem;
  }

  .teamList {
    flex-direction: column; /* Alinha os cards em coluna */
    gap: 0.8rem; /* Reduz o espaçamento entre os cards */
  }

  .teamMember {
    max-width: 100%; /* Faz os cards ocuparem toda a largura disponível */
  }
}
