.categoria {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4rem 1rem; 
    overflow: hidden; 
}

.categoria::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: linear-gradient(90deg, #00DAC7, #F05080, #DBBD9C, #5FCED4); 
    background-size: 400% 400%;
    opacity: 0.4; 
    animation: gradientAnimation 8s ease infinite; 
    z-index: -1; 
    filter: blur(20px); 
    mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 1000%, rgba(0, 0, 0, 0) 100%); 
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.cards {
    position: relative;
    display: flex;
    gap: 15rem; 
    z-index: 2;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap; 
    padding: 2rem 0;
}

.navLink {
    text-decoration: none; 
    color: inherit; 
    display: block; 
}

.card {
    padding: 1rem;
    width: 100%;
    max-width: 350px; 
    height: 14rem; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem; 
    position: relative;
    cursor: pointer;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    text-decoration: none;
}

.titulo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tituloCard {
    width: 50%;
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    text-align: left; 
    color: #bdbcbc;
    margin: 0;
}

.numberCard {
    color: #CFCFCF;
    font-family: Inter, sans-serif;
    font-size: 78px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    text-align: right;
}

.card:hover {
    background-color: #FFB7C5;
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.cardTexto {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
    margin-top: -1rem;
    font-family: Inter, sans-serif;
    font-weight: 400;
    text-align: left;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, color 0.3s ease;
}

.card:hover .cardTexto {
    opacity: 1;
    visibility: visible;
    color: #FFFFFF;
}

.card:hover .numberCard {
    color: #FFFFFF;
}

.card:hover .tituloCard {
    color: #FFFFFF;
}

@media (max-width: 1024px) {
    .cards {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }
}

@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .card {
        height: 12rem; /* Ajusta a altura dos cards para telas menores */
    }
}