.testimonials {
  background: linear-gradient(180deg, #fff, #f9f9f9, #fff);
  padding: 4rem 2rem;
  border-radius: 25px;
  text-align: center;
  overflow: hidden;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  color: #333;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.subtitle {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #666;
  margin-bottom: 2rem;
}

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 300px; /* Altura fixa para o carrossel */
}

.card {
  position: absolute;
  background: #fff;
  color: #333;
  padding: 2rem;
  border-radius: 15px;
  max-width: 350px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  text-align: justify;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.5s ease, transform 0.5s ease, box-shadow 0.3s ease;
}

.card.active {
  opacity: 1;
  transform: scale(1);
  z-index: 3;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
}

.card.visible {
  opacity: 0.5;
  transform: scale(0.9);
  z-index: 2;
  filter: blur(1px);
}

.card.inactive {
  opacity: 0;
  transform: scale(0.8);
  z-index: 1;
}

.card:hover {
  box-shadow: 0 16px 25px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}

.image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto 1rem;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.text {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  margin-bottom: 1rem;
  color: #555;
}

.name {
  font-family: "Pacifico", cursive;
  font-size: 20px;
  margin-bottom: 0.5rem;
  color: #333;
}

.stars {
  font-size: 1.8rem;
  color: #ffd700; /* Dourado para as estrelas */
  margin-bottom: 0.5rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.date {
  font-size: 0.9rem;
  color: #aaa;
}

.noReviews {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #666;
  margin-top: 2rem;
  text-align: center;
}