.carouselContainer {
  width: 80%;
  margin: 3rem auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.cardsWrapper {
  display: flex;
  gap: 2rem;
  width: 100%;
  justify-content: center;
}